@{
    ViewBag.Title = "Sobre nós";
}
<h2>@ViewBag.Title</h2>

<address>
    <p>@ViewBag.Autor</p>
    <br />
    Todos os direitos reservados <br />
    ISEC - @DateTime.Now.Year<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:a21240385@alunos.isec.pt">a21240385@alunos.isec.pt</a><br />
</address>