@{
    ViewBag.Title = "Spaces For Children - Página Principal";
}

<div class="jumbotron">
    <h1 class="h1_do_inicio">Spaces For Children</h1>
    <br />
    <img src="~/Content/Imagens/1.jpg" class="img-responsive" width="700">
    <br />
    <p class="texto_do_inicio">O “SpacesForChildren” consiste numa plataforma que facilita a procura de locais para os pais “deixarem” os filhos (infantários, creches, escolas com ensino pré-escolar, …). Os pais podem, por exemplo, visualizar, através da aplicação, informações relativas a cada uma das instituições, tais como, os serviços disponibilizados e o valor das mensalidades. As instituições, por sua vez, podem “publicitar” essa informação e “responder” a esses pedidos.</p>
</div>

