@{
    ViewBag.Title = "GERAL Índice";
}

<h2>GERAL - Índice</h2>
<img src="~/Content/Imagens/5.jpg" width="500" height="500" class="img-responsive" />

<dl>
    <dt>@Html.ActionLink("Instituições", "ListaInstituicoes")</dt>
    <dd>- Lista de todas as instituições inscritas no Spaces for children</dd>
    <dt>@Html.ActionLink("Pais", "ListaPais")</dt>
    <dd>- Lista de todos os pais inscritos no Spaces for children</dd>
</dl>
